.nav-container {
  width: 100%;
  max-width: 1496px;
  margin: 0 auto;
  padding: 12px 0;
  overflow-x: auto;

  img {
    flex-shrink: 0;
    max-height: 37px;
    height: 100%;
  }

  ul {
    gap: 70px;
    margin-bottom: 0;

    li {
      a {
        color: #000;
        font-family: "Open Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      a:hover {
        color: #eb3f57;
      }
    }
  }

  .menu1 {
    .menu2 {
      // width: 30px;
      font-size: 30px;
    }
  }
}

@media (max-width: 900px) {
  .nav-container {
    img {
      max-width: 220px;
    }

    ul {
      gap: 30px;

      li {
        .a-class {
          font-size: 14px;
        }
      }
    }
  }
}

.section1-bg {
  width: 100%;
  height: 890px;
  background-image: url(../images/home-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  &.mu {
    background-image: url(../images/section1.png);
  }
  &.na {
    background-image: url(../images/services-bg.png);
  }
  &.namu {
    background-image: url(../images/careers-bg.png);
  }

  .section1-gradient {
    position: absolute;
    inset: 0;
    opacity: 0.6;
    background: linear-gradient(105deg, #eb3f5e -2.26%, #110843 47.46%);
  }

  .content {
    position: absolute;
    z-index: 10;
    width: 100%;
    max-width: 954px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      color: #eb3f57;
      font-family: "Open Sans";
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    p {
      color: #fff;
      text-align: center;
      font-family: "Open Sans";
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .arrow-down {
    position: absolute;
    left: 50%;
    bottom: 140px;
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .section1-bg {
    height: 500px;
  }
}

.extra-card {
  width: 100%;
  max-width: 580px;
  padding: 40px 20px 30px 24px;

  h2 {
    color: #eb3f57;
    font-family: "Open Sans";
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
  }

  p {
    color: #737b7d;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.3px;
  }
}

.section2 {
  display: flex;
  justify-content: space-between;
  padding: 75px 0 150px 10%;

  .content2 {
    width: 100%;
    max-width: 640px;

    h1 {
      color: #454654;
      font-family: "Open Sans";
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }

    h2 {
      color: #eb3f57;
      font-family: "Open Sans";
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    p {
      color: #000;
      font-family: "Open Sans";
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 30px;
    }

    .s2-arrow {
      margin-bottom: 40px;
    }
  }

  .img-1 {
    max-width: 960px;
    width: 100%;
    margin-top: 50px;
  }
}

@media (max-width: 1496px) {
  .section2 {
    .content2 {
      max-width: 600px;

      h2 {
        font-size: 30px;
      }

      p {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 1396px) {
  .section2 {
    .content2 {
      max-width: 500px;

      h2 {
        font-size: 27px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 1283px) {
  .section2 {
    .content2 {
      max-width: 400px;

      h2 {
        font-size: 20px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 1170px) {
  .section2 {
    flex-direction: column-reverse;
    padding: 30px 20px 50px 20px;

    .content2 {
      margin-left: auto;
      max-width: 100%;

      h1 {
        text-align: start;
      }

      h2 {
        font-size: 30px;
        text-align: end;
        margin-left: auto;
      }

      p {
        font-size: 25px;
        max-width: 800px;
        margin-left: auto;
        text-align: end;
      }

      .s2-arrow {
        margin-right: auto;
      }

      .red-button {
        display: block;
        margin-left: auto;
      }
    }
  }
}

@media (max-width: 866px) {
  .section2 {
    .content2 {
      h2 {
        font-size: 25;
      }

      p {
        font-size: 20px;
        max-width: 700px;
      }
    }
  }
}

@media (max-width: 795px) {
  .section2 {
    .content2 {
      h2 {
        font-size: 21;
      }

      p {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 380px) {
  .section2 {
    .content2 {
      h2 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}

.section3 {
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
  padding-bottom: 200px;
  width: 100%;

  .img-2 {
    max-width: 960px;
    width: 100%;
    margin-top: 70px;
  }

  .content3 {
    width: 100%;
    max-width: 600px;

    .titles {
      margin-left: auto;
      text-align: end;

      h1 {
        color: var(--dark-gray, #454654);
        font-family: "Open Sans";
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
      }

      .s3-arrow {
        margin-bottom: 40px;
      }
    }

    .card1 {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;

      .target {
        max-height: 100px;
        height: 100%;
      }

      .pathway {
        max-height: 88px;
        height: 100%;
        margin-top: 10px;
      }

      .texts {
        max-width: 440px;
        width: 100%;

        h4 {
          color: #000;
          font-family: "Open Sans";
          font-size: 21px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        p {
          color: #000;
          font-family: "Open Sans";
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}

@media (max-width: 1800px) {
  .section3 {
    padding-right: 3%;

    .img-2 {
      margin-top: 150px;
    }

    .content3 {
      padding-left: 30px;
      max-width: 440px;
      .titles {
        .s3-arrow {
          margin-bottom: 0;
        }
      }

      .card1 {
        flex-direction: column;

        .target {
          max-width: 100px;
          width: 100%;
        }

        .pathway {
          max-width: 100px;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1445px) {
  .section3 {
    .content3 {
      .card1 {
        margin-bottom: 15px;
        .target {
          max-width: 50px;
        }
        .pathway {
          max-width: 50px;
        }
      }
    }
  }
}

@media (max-width: 1188px) {
  .section3 {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;

    .img-2 {
      max-width: 1100px;
      margin-top: 50px;
    }

    .content3 {
      max-width: 100%;
      margin-left: 0;
      padding-left: 0;

      .wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        margin-top: 30px;

        .card1 {
          max-width: 600px;

          .target {
            max-width: 100px;
            margin-bottom: 20px;
          }

          .pathway {
            max-width: 88px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 665px) {
  .section3 {
    .content3 {
      margin-top: 30px;

      .wrapper {
        flex-direction: column;
        align-items: start;
      }
    }
  }
}

.section4 {
  width: 100%;
  max-width: 1496px;
  margin: 0 auto;
  padding-bottom: 200px;

  h1 {
    color: #454654;
    font-family: "Open Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 10px;
  }

  .s4-cards {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-top: 30px;

    .s4-card-margin {
      margin-top: 100px;
    }

    .s4-card {
      width: 100%;
      max-width: 370px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 50px;

      .grey-card {
        background-color: #454654;

        img {
          padding: 59px 132px 43px;
        }
      }

      h4 {
        color: #454654;
        font-family: "Open Sans";
        font-size: 27px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 10px 0;
      }

      p {
        color: #454654;
        font-family: "Open Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      a {
        color: #eb3f57;
        font-family: "Open Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      a:hover {
        color: #454654;
      }

      .red-line {
        width: 81px;
        height: 1px;
        background: #eb3f57;
      }

      .red-line:hover {
        background: #454654;
      }
    }
  }
}

@media (max-width: 1170px) {
  .section4 {
    padding-bottom: 50px;
    .s4-cards {
      flex-direction: column;
      align-items: center;

      .s4-card-margin {
        margin-top: 0px;
      }
    }
  }
}

@media (max-width: 768px) {
  .section4 {
    .s4-cards {
      .s4-card {
        width: 100%;
        max-width: 100%;
        border-radius: 15px;

        .grey-card {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 15px;

          p {
            color: white;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            line-height: 27px;
            padding-bottom: 57px;
          }

          img {
            padding: 50px 0 20px;
          }
        }

        h4 {
          display: none;
        }

        .p-class {
          display: none;
        }

        a {
          display: none;
        }

        .red-line {
          display: none;
        }
      }
    }
  }
}

.section5 {
  width: 100%;
  max-width: 1272px;
  margin: auto;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 100px;

  .left-side {
    // display: flex;
    // flex-direction: column;
    width: 100%;
    max-width: 660px;
    padding: 62px 66px 40px 40px;

    h1 {
      color: #eb3f57;
      font-family: "Open Sans";
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      margin-bottom: 15px;
    }

    p {
      color: #67748e;
      font-family: "Open Sans";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        color: #252f40;
        font-family: "Open Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 5px;
      }

      input {
        padding: 0px 64px 0px 32px;
        border-radius: 15px;
        background: #f5f5fa;
        box-shadow: -5px -5px 10px 0px #fff inset,
          5px 5px 10px 0px rgba(170, 170, 204, 0.5) inset,
          2px 2px 4px 0px rgba(170, 170, 204, 0.25) inset;
        border-style: none;

        color: #7878ab;
        font-family: "Open Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;

        margin-bottom: 24px;
      }

      textarea {
        padding: 19px 62px 112px 34px;
        border-radius: 15px;
        background: #f5f5fa;
        box-shadow: -5px -5px 10px 0px #fff inset,
          5px 5px 10px 0px rgba(170, 170, 204, 0.5) inset,
          2px 2px 4px 0px rgba(170, 170, 204, 0.25) inset;
        border-style: none;

        color: #7878ab;
        font-family: "Open Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;

        margin-bottom: 26px;
      }

      button {
        margin-left: auto;
      }
    }
  }

  .right-side {
    background-image: url(../images/Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    max-width: 540px;
    height: 670px;

    border-radius: 16px;

    position: relative;

    .bg-image {
      position: absolute;
      inset: 0;
      opacity: 0.7;
      background: linear-gradient(105deg, #eb3f5e -2.26%, #110843 47.46%);
      border-radius: 16px;
    }

    .social {
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      max-width: 365px;

      h2 {
        color: #fff;
        font-family: "Open Sans";
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
      }

      p {
        color: #fff;
        font-family: "Open Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 30px;
      }

      .icons {
        display: flex;
        align-items: center;

        a {
          color: rgba(255, 255, 255, 0.8);
          font-family: "Open Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 17px;
        }
      }

      i {
        width: 19px;
        color: white;
      }

      .social2 {
        margin-top: 48px;
        width: 100%;
        max-width: 190px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 1280px) {
  .section5 {
    border-radius: 0;

    .right-side {
      border-radius: 0;

      .bg-image {
        border-radius: 0;
      }
    }
  }
}

@media (max-width: 830px) {
  .section5 {
    .left-side {
      max-width: 100%;
      padding: 62px 40px 40px 40px;
    }

    .right-side {
      display: none;
    }
  }
}

.s-5 {
  padding-bottom: 100px;
}

section {
  background-color: #f5f5fa;
}

// About Us page

.aboutus-cards {
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  padding: 0 20px;

  .aboutus-card {
    width: 100%;
    max-width: 478px;
    height: 477px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    background: #454654;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);

    h4 {
      color: #fff;
      font-family: "Open Sans";
      font-size: 27px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    p {
      color: #fff;
      text-align: center;
      font-family: "Open Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 368px;
    }
  }

  .white-card {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);

    h4 {
      color: #454654;
    }

    p {
      color: #454654;
    }
  }
}

@media (max-width: 1469px) {
  .aboutus-cards {
    .aboutus-card {
      max-width: 400px;
      height: 399px;
    }
  }
}

@media (max-width: 1273px) {
  .aboutus-cards {
    .aboutus-card {
      max-width: 350px;
      height: 349px;
      padding: 0 15px;
    }
  }
}

@media (max-width: 1105px) {
  .aboutus-cards {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}

@media (max-width: 388px) {
  .aboutus-cards {
    .aboutus-card {
      h4 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}

.aboutus-section {
  display: flex;
  padding: 70px 20px 100px;
  width: 100%;

  .aboutus-content {
    max-width: 637px;
    margin-left: auto;
    text-align: end;
  }

  .img-2 {
    max-width: 960px;
    width: 100%;
  }
}

@media (max-width: 1170px) {
  .aboutus-section {
    flex-direction: column;

    .aboutus-content {
      max-width: 100%;

      h1 {
        text-align: end;
      }

      h2 {
        text-align: start;
      }

      p {
        text-align: start;
        margin-left: 0;
        margin-right: auto !important;
      }
    }
  }
}

.sounds-great {
  width: 100%;
  max-width: 746px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-bottom: 70px;
  text-align: center;

  h2 {
    color: #eb3f57;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #f0eded;
    font-family: "Open Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}

// Services page

.section-services {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-top: 200px;
  margin-bottom: 230px;
  height: 448px;
  position: relative;

  border-radius: 16px;
  background: #454654;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);

  .content-services {
    width: 40%;
    padding: 40px 0 40px 40px;
    position: absolute;
    z-index: 10;

    h3 {
      color: #eb3f57;
      font-family: "Open Sans";
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }

    p {
      color: #fff;
      font-family: "Open Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 500px;
      padding-right: 15px;
    }
  }

  .services-img {
    img {
      width: 60%;
      position: absolute;
      z-index: 15;
      right: 0;
      bottom: 0;
    }
  }
}

.section-reverse {
  flex-direction: row-reverse;
  margin-left: 0;
  margin-right: auto;

  .services-img2 {
    img {
      position: absolute;
      z-index: 15;
      left: 0;
      bottom: 0;
      width: 60%;
    }
  }
}

@media (max-width: 1300px) {
  .section-services {
    border-radius: 0;
  }
}

@media (max-width: 1085px) {
  .section-services {
    .content-services {
      h3 {
        font-size: 24px;
      }

      p {
        font-size: 14px;
      }

      .services-icon {
        max-width: 80px;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 822px) {
  .s-3 {
    background-color: #454654;

    .section-services {
      box-shadow: none;
      position: static;
      height: 928px;
      flex-direction: column-reverse;
      margin-bottom: 20px;

      .content-services {
        right: 0;
        text-align: end;
        width: 100%;
        max-width: 550px;
        padding-right: 15px;

        h3 {
          font-size: 27px;
        }

        p {
          padding-right: 0;
        }
      }

      .services-img {
        img {
          width: 100%;
          top: 0;
        }
      }
    }

    .section-reverse {
      flex-direction: column;

      .content-reverse {
        left: 0;
        bottom: 0;
        margin-right: auto;
        text-align: start;
        padding-left: 15px;
        // padding-left: 15px;
      }

      .services-img2 {
        img {
          width: 100%;
          top: 0;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .s-3 {
    .section-services {
      height: 835px;
    }
  }
}

@media (max-width: 600px) {
  .s-3 {
    .section-services {
      height: 760px;
    }
  }
}

@media (max-width: 520px) {
  .s-3 {
    .section-services {
      height: 700px;
    }
  }
}

@media (max-width: 400px) {
  .s-3 {
    .section-services {
      height: 700px;
    }
  }
}

@media (max-width: 377px) {
  .s-3 {
    .section-services {
      height: 700px;
    }
  }
}

@media (max-width: 353px) {
  .s-3 {
    .section-services {
      height: 715px;
    }
  }
}

// Career page

.section-career {
  width: 100%;
  max-width: 1200px;
  padding: 70px 25px 150px 25px;
  margin: auto;

  .career-1 {
    margin-bottom: 70px;

    h2 {
      color: #454654;
      font-family: "Open Sans";
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  .career-cards {
    background: #fff;
    box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.05);

    .career-card {
      width: 100%;
      height: 75px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        color: #eb3f57;
        font-family: "Open Sans";
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0;
      }

      .more-details {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          color: #eb3f57;
          font-family: "Open Sans";
          font-size: 21px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-right: 15px;
        }
      }
    }

    .grey-line {
      width: 100%;
      height: 1px;
      background: #d9d9d9;
    }
  }
}

@media (max-width: 560px) {
  .section-career {
    .career-1 {
      h2 {
        font-size: 27px;
      }
    }
    .career-cards {
      .career-card {
        .more-details {
          a {
            display: none;
          }
        }
      }
    }
  }
}

// Contact page

.contact-page {
  width: 100%;
  max-width: 1300px;
  height: 680px;
  margin-left: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  position: relative;

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0.9;
    box-shadow: 0px 8px 9px 0px rgba(0, 0, 0, 0.06),
      0px 20px 26px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(15px);
    padding: 40px;
    position: absolute;
    left: 2%;
    z-index: 10;

    h1 {
      color: #eb3f57;
      text-align: center;
      font-family: "Open Sans";
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 0px;
      margin-bottom: 25px;
    }

    p {
      color: #67748e;
      text-align: center;
      font-family: "Open Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      margin-bottom: 30px;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 600px;

      label {
        color: #252f40;
        font-family: "Open Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 1px;
        margin-bottom: 20px;
      }

      input {
        padding: 0px 64px 0px 32px;
        border-radius: 10px;
        background: #f5f5fa;
        box-shadow: -5px -5px 10px 0px #fff inset,
          5px 5px 10px 0px rgba(170, 170, 204, 0.5) inset,
          2px 2px 4px 0px rgba(170, 170, 204, 0.25) inset;
        margin-bottom: 40px;
        border-style: none;
        height: 40px;
      }

      textarea {
        border-radius: 15px;
        background: #f5f5fa;
        box-shadow: -5px -5px 10px 0px #fff inset,
          5px 5px 10px 0px rgba(170, 170, 204, 0.5) inset,
          2px 2px 4px 0px rgba(170, 170, 204, 0.25) inset;
        margin-bottom: 20px;
        padding: 16px 61px 107px 35px;
        border-style: none;

        color: #7878ab;
        font-family: "Open Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 7px;
      }
    }
  }

  .contact-image {
    width: 100%;
    max-width: 900px;
    position: absolute;
    right: 0;
    z-index: 5;
  }
}

@media (max-width: 900px) {
  .contact-page {
    height: 900px;
    margin-bottom: 0;
    max-width: 100%;

    .contact-form {
      max-width: 100%;
      top: 20%;
      left: 0%;
    }
    .contact-image {
      top: 0;
      max-width: 100%;
    }
  }
}

@media (max-width: 800px) {
  .contact-page {
    height: 800px;

    .contact-form {
      top: 10%;
    }
  }
}

@media (max-width: 600px) {
  .contact-page {
    height: 700px;

    .contact-form {
      top: 2%;
    }

    .contact-image {
      height: 400px;
    }
  }
}
